/*Made by: Jeppe*/

.no-shadow {
    box-shadow: none!important;
    background-color: transparent!important;
}

.no-border {
    border:none!important;
}

.first-indent{
    margin-left: 10px;
}

.second-indent{
    margin-left: 42px;
}

.third-indent{
    margin-left: 71px;
}

.bot-margin{
    margin-bottom: 20px;
}

.icon-font-size-15{
    font-size: 17px!important;
}

.thickness{
    font-weight: bold;
}

.color-tertiary{
    background-color: #81939D!important;
}

/*Made by: Oskar*/

.bot-margin-small{
    margin-bottom: 5px;
}

#add-text-button{
    width: 104px!important;
}

@media only screen and (min-width: 581px){
    #add-text-button{
        width: 105px!important;
    }
}

@media only screen and (min-width: 992px){
    #add-text-button{
        width: 106px!important;
    }
}

.center-on-xs-only {
    text-align: center;
}

@media only screen and (min-width : 431px) {
    .center-on-xs-only {
        text-align: left;
    }
}

    /* Style the Image Used to Trigger the Modal */
.my-img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
.my-img:hover {
    opacity: 0.7;
}
  
    /*Made by: Philip*/

  /* The Modal (background) */
.modall {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
  /* Modal Content (Image) */
.modall-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
  
  /* Add Animation - Zoom in the Modal */
.modall-content, .caption{
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

  /* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modall-content {
      width: 100%;
    }
}

    /*Made by: Robert*/

.cont {
    position: relative;
}

.card-image {
    width:100;
    height: auto;
}

.delete-button {
    position: absolute;
    color: black;
    border: lightgrey;
    top: 5px;
}

  /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

 /*Made by: Thomas*/

.trash-can{
      color: #81939D;
      opacity: 0.6;
}

.trash-can:hover{
      opacity: 0.9;
}

.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 400px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 50px !important;
}

body{
    background-color: #F4EDEA;
}

.hidden{
    height: 0px; 
    overflow: hidden;
}

.color-secondary{
    background-color: #0FA3B1;
}

.help-icon{
    font-size: 50px!important;
}

.help-text{
    margin-bottom: 40px;
}